:root {
  --bs-body-font-size: 1.3rem;
  --bs-body-color: #212529;
  --bs-heading-color: #446;
}

body {
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;

}

div#flipper img.flag-state-georgia {
    transition: left 400ms ease, top 400ms linear;
}

div.flipped img.flag-state-georgia
{
    top: 0px !important;
    left: 0px !important;
}

div#flipper p span.flag-state-confederacy {
	text-decoration: wavy red;
}

div#flipper p span.word-confederacy {
	text-decoration: underline #c81010 wavy;
	text-decoration-skip-ink: none;
}

div.flipped p span.flag-state-confederacy {
	display: none;
}

div.flipped p span.flag-state-georgia {
	display: inline !important;
}

div#wjm-columns {
	transform: rotate(270deg);
}

div#wjm-columns ul {
	list-style-type: none;
}

div#wjm-columns ul li {
	color: black;
	background-color: #ffe300;
	margin: 1ex;
}
